 body{
         background: linear-gradient(235deg,#1f2468,#203907); 
        color: #f5f4f4;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        display: flex;
        
    }
    .View button{
        padding: 10px;
        border: none;
        border-radius: 15px;
        background:  linear-gradient(235deg, #25e23e,#599bd4,#4dc388);
        color: #f5f4f4;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 2px 2px 4px rgb(121, 151, 182);

        
    }
    .View button:focus{
        color: rgb(235, 117, 74);
        transition: 0.3s;
        box-shadow: 2px 2px 4px rgb(75, 78, 81);
    }
    .shop{
        text-align: center;
        justify-content: center;
        margin: 30px;
        padding: 20px;
        background: linear-gradient(rgb(60, 60, 172) 0%,rgb(106, 178, 255) 2%,#435775);
        width: 292px;
        border-radius: 10px;
        box-shadow: 1px 2px 1px rgb(0, 0, 0);  
       
        /* margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* gap: 20px;
        margin-top: 10px; */
    }
    .shop1{
        max-height: 500px;
        overflow-y: auto;
        overflow-block: scroll ;
    }